html {
    background-image: url(../img/lake.jpg);
    background-repeat: no-repeat;
}

#storeTable {
    width:  200px;
    margin-left: 26%;
    margin-top: 100px;
    /* display:block;
    overflow:auto;
    height:400px;
    width:100%; */
}

th {
    background: black;
    color: white;
    padding-top: 30px;
    height: 50px;
    font-weight: bold;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    width: 10px !important;
}

td {
    border: 2px inset blue;
    text-align: center;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    width: 30px;
}

header {
    text-align: center;
}

td:last-child {
    background: white;
    font-weight: bold;
}

h1 {
    font-size: 50pt;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h2 {
    font-size: 20pt;
}

thead {
    display: block;
    background: black;
    color: white;
    border-radius: 25px;
}

tfoot {
    display: block;
    background: black;
    color: white;
    border-radius: 25px;
}
tfoot>tr>th {
    padding-left: 19px;
    width: 950px;
}

form {
	margin-top: 150px;
    margin-left: 150px;
    font-size: 15px;
    font-weight: bold;
}

tbody>tr:hover {
    background: grey;
}

tbody {
    display:block;
    overflow:auto;
    height:400px;
    width: 950px;
}
